# Node modules
node_modules/

# Build output
dist/
build/
.next/
out/
coverage/

# Environment variables
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test
.env.test.local
.env.*.local
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Figma / shadcn generated
**/.figma
**/.shadcn
